<h1>Feel Free To Change Your Info, <%= @user.first_name %>.</h1>

<% unless @update_worked %>
  <div id="errors">
    <h3>Errors!</h3>
    <ul>
      <% @user.errors.messages.each do |field,error| %>
        <li><em><%= "#{field.capitalize} #{error.first}!" %></em></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="main-text">
  <br>
<%= render "form" %>
<br>
</div>
<br>
<p><%= link_to "GO BACK HOME", user_path(@user) %></p>