<h4><%= link_to "Go Back", user_path(@user) %></h4>
<%= render "form" %>
 <p><%= form_tag story_path(@story), method: "delete" do %>
            <%= submit_tag("Delete Story") %>
            <% end %></p>