
   
<section>
      <ul id="da-thumbs" class="da-thumbs">      
        <% @stories.each do |story| %>
        <li>
          <a href="<%= story_path(story) %>">
            <img src="<%= story.photo_url %>" width="300px"/>
            <div>
              <p id="story-cover"><strong>#<%= story.hashtag %></strong></p>
              <span><%= story.the_story %></span>
            </div>
          </a>
        </li>
        <% end %>
      </ul>
    </section>

    <script type="text/javascript">
    $(function() {

      $(' #da-thumbs > li ').each( function() { $(this).hoverdir({
        hoverDelay : 80,
        inverse : true
      }); } );

    });
    </script>