/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_normalize
 *= require_self
 *= require_tree .
 *= require_component 
 *= require_demo
 */

/************Global**************/
body {
  background: #ddd;
  color: #000;
  font: 100%/1.4 "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  padding: 0;
  -webkit-text-size-adjust: none;
}
a {
  color: #808080;
  text-decoration: none;
}
a:hover, a:focus {
  color: #e51837;
}
p {
  margin: 0 0 1em;
}
img, object, video {
  max-width: 100%;
  border: 0;
}
a img {
  border: 0;
  outline: 0;
}
h1 {
  font-size: 3em;
  line-height: 1;
  letter-spacing: -0.02em;
  margin-bottom: 0.2em;
}
h2 {
  font-size: 2em;
  line-height: 1.1;
  margin-bottom: 0.2em;
}
h3 {
  font-weight: normal;
  line-height: 1.1;
  padding-bottom: 0.4em;
  border-bottom: 1px solid #ccc;
}
h1 a, h2 a, h3 a {
  display: block;
  color: #000;
}
h1 a:hover, h2 a:hover, h3 a:hover {
  color: #e51837;
}
blockquote {
  border-left: 0.5em solid #ddd;
  padding-left: 1em;
  margin-left: 1em;
}
small {
  color: #e51837;
}

input, textarea {
  border: 1px solid #000;
}

input[type=search] {
  -webkit-appearance: none;
  border-radius: 0;
}
::-webkit-input-placeholder {
  color: #808080;
}
:-moz-placeholder {  
    color: #808080;
}
/************End Global**************/





/* Header */
.header {
  background: #fff;
  margin: auto 0;
  overflow: hidden;
  background: #;
  text-transform: lowercase;
  position: relative; }
  .header a {
    text-decoration: none;
    color: #466472;
    display: block;
    padding: 0.8em; }
    @media all and (min-width: 47em) {
      .header a {
        /* Usage @include transition(max-height,0.5s,ease-out); */
        -webkit-transition: all 0.4s ease-out;
        -moz-transition: all 0.4s ease-out;
        -ms-transition: all 0.4s ease-out;
        -o-transition: all 0.4s ease-out;
        transition: all 0.4s ease-out;
        padding: 0.8em 0.5em; } }
  .header a:hover, .header a:focus {
    color: #B0E6FF; }
  @media all and (min-width: 47em) {
    .header {
      background: #;
      line-height: 1;
      padding: 0 0.5em; } }
  @media all and (min-width: 81em) {
    .header {
      padding: 0 1.5em; } }




.nav {
  overflow: hidden;
  background: #110000;
  text-transform: lowercase;
  /* Medium & Up*/ }
  .nav a {
    text-decoration: none;
    color: #466472;
    display: block;
    padding: 0.8em; }
  .nav li:nth-of-type(1) a {
    background: rgba(255, 255, 255, 0.15); }
  .nav li:nth-of-type(2) a {
    background: rgba(255, 255, 255, 0.12); }
  .nav li:nth-of-type(3) a {
    background: rgba(255, 255, 255, 0.09); }
  .nav li:nth-of-type(4) a {
    background: rgba(255, 255, 255, 0.06); }
  .nav li:nth-of-type(5) a {
    background: rgba(255, 255, 255, 0.03); }
  .nav li a:hover, .nav li a:focus, .nav li a:active {
    background: #; }
  .nav .top {
    display: none; }
  @media all and (min-width: 47em) {
    .nav {
      background: none;
      margin: 0;
      clear: none;
      max-height: none;
      float: right; }
      .nav li {
        display: inline-block; }
      .nav li a {
        background: none !important;
        padding: 0.8em 0.5em; } }

/* Nav Small Screen Functionality: http:/netmagazine.com/tutorials/build-smart-mobile-navigation-without-hacks */
@media all and (max-width: 47em) {
  #nav {
    max-height: 0;
    /* Usage @include transition(max-height,0.5s,ease-out); */
    -webkit-transition: max-height 0.4s ease-out;
    -moz-transition: max-height 0.4s ease-out;
    -ms-transition: max-height 0.4s ease-out;
    -o-transition: max-height 0.4s ease-out;
    transition: max-height 0.4s ease-out; }
    #nav:target {
      /* Nav open */
      max-height: 25em; }
      #nav:target .top {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 5em;
        background: none;
        text-indent: -99999em; } }















/*The Menu */

a.menu-link {
        float: right;
        display: block;
        padding: 1em;
    }
    nav[role=navigation] {
      clear: both;
      -webkit-transition: all 0.3s ease-out;  
      -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
    }
    .js nav[role=navigation] {
      overflow: hidden;
      max-height: 0;
    }
    nav[role=navigation].active {
      max-height: 15em;
    }
    nav[role=navigation] ul {
      margin: 0;
      padding: 0;
      border-top: 1px solid #808080;
    }
    nav[role=navigation] li a {
      display: block;
      padding: 0.8em;
      border-bottom: 1px solid #808080;
    }

    
    @media screen and (min-width: 48.25em) {
      a.menu-link {
         display: none;
      }
      .js nav[role=navigation] {
        max-height: none;
      }
      nav[role=navigation] ul {
        margin: 0 0 0 -0.25em;
        border: 0;
      }
      
      nav[role=navigation]  li {
        display: inline-block;
        margin: 1.25em;
      }
      nav[role=navigation] li a {
        border: 0;
      }
    }


.logo {
font-weight: normal;
margin: 0;
padding: 0;
font-size: 1em;
line-height: inherit;
position: relative;
z-index: 1;
float: left;
height: 70px;
width: 180px;
}



/*The Responsive Picture Grids*/

.insta_story_grid {
      padding: 0.25em;
      overflow: hidden;
    }
    .insta_story_grid li {
      float: left;
      width: 50%;
      padding: 0.25em;
    }
    .insta_story_grid img {
      display: block;
    }
    .insta_story_grid li:nth-child(odd) {
      clear: left;
    }
  
    @media screen and (min-width: 40em) {
      .insta_story_grid li {
          width: 33.3333333333333333%; 
        }
        .insta_story_grid li:nth-child(3n+1) {
          clear: left;
        }
        .insta_story_grid li:nth-child(odd) {
        clear: none;
      }
    }
    @media screen and (min-width: 55em) {
      .insta_story_grid li {
          width: 25%; 
        }
        .insta_story_grid li:nth-child(4n+1) {
          clear: left;
        }
        .insta_story_grid li:nth-child(3n+1) {
        clear: none;
      }
    }
    @media screen and (min-width: 72em) {
      .insta_story_grid li {
          width: 20%; 
        }
        .insta_story_grid li:nth-child(5n+1) {
          clear: left;
        }
        .insta_story_grid li:nth-child(4n+1) {
        clear: none;
      }
    }
    @media screen and (min-width: 90em) {
      .insta_story_grid li {
          width: 16.666666666%; 
        }
        .insta_story_grid li:nth-child(6n+1) {
          clear: left;
        }
        .insta_story_grid li:nth-child(5n+1) {
        clear: none;
      }
    }




.login_form {
  text-align: center;
}



.list li {
  border-bottom: 1px solid #ccc;
  display: table;
  border-collapse: collapse;
  width: 100%;
}
.inner {
  display: table-row;
  overflow: hidden;
}
.li-img {
  display: table-cell;
  vertical-align: middle;
  width: 40%;
  padding-right: 1em;
}
.li-img img {
  display: block;
  width: 100%;
  height: auto;
}
.li-text {
  display: table-cell;
  vertical-align: middle;
  width: 60%;
}
.li-head {
  margin: 0;
}
.li-sub {
  margin: 0;
}

@media all and (min-width: 40em) {
  .list {
    padding: 0.5em;
    max-width: 70em;
    margin: 0 auto;
    overflow: hidden;
  }
  .list li {
    padding: 0.5em;
    display: block;
    width: 50%;
    float: left;
    background: none;
    border: 0;
  }
  .inner {
    display: block;
  }
  .li-img, .li-text, .inner {
    display: block;
    width: auto;
    padding: 0;
  }
  .li-text {
    padding: 0.5em 0;
  }
}

@media all and (min-width: 60em) {
  .list li {
    width: 33.33333333%;
  }
}


#hashtag {
  color: #fff;
}

.main-text {
  background: #000;
}


/*GROUPING */

.col-group > div {
  padding: 1em 1em 0;
}

@media screen and (min-width: 50em) {
  .col-group {
    overflow: hidden;
  }
  .col-group > div {
    float: left;
    width: 33.3333333%;
  }
}