/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/************Reset**************/
* { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
}
html, body, div, object, iframe, fieldset { 
  margin: 0; 
  padding: 0; 
  border: 0;
} 
ol, ul { 
  list-style: none;
  margin: 0;
  padding: 0;
} 
table { 
  border-collapse: collapse; 
  border-spacing: 0; 
}
header, footer, nav, section, article, hgroup, figure {
  display: block; 
}
legend {
  display: none;
}
/************End Reset**************/

/************Global**************/
body {
  background: #fff;
  color: #000;
  font: 100%/1.4 "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  padding: 0;
  -webkit-text-size-adjust: none;
}
a {
  color: #808080;
  text-decoration: none;
}
a:hover, a:focus {
  color: #e51837;
}
p {
  margin: 0 0 1em;
}
img, object, video {
  max-width: 100%;
  border: 0;
}
a img {
  border: 0;
  outline: 0;
}
h1 {
  font-size: 3em;
  line-height: 1;
  letter-spacing: -0.02em;
  margin-bottom: 0.2em;
}
h2 {
  font-size: 2em;
  line-height: 1.1;
  margin-bottom: 0.2em;
}
h3 {
  font-weight: normal;
  line-height: 1.1;
  padding-bottom: 0.4em;
  border-bottom: 1px solid #ccc;
}
h1 a, h2 a, h3 a {
  display: block;
  color: #000;
}
h1 a:hover, h2 a:hover, h3 a:hover {
  color: #e51837;
}
blockquote {
  border-left: 0.5em solid #ddd;
  padding-left: 1em;
  margin-left: 1em;
}
small {
  color: #e51837;
}

input, textarea {
  border: 1px solid #000;
}

input[type=search] {
  -webkit-appearance: none;
  border-radius: 0;
}
::-webkit-input-placeholder {
  color: #808080;
}
:-moz-placeholder {  
    color: #808080;
}
/************End Global**************/




/*The Menu */

a.menu-link {
        float: right;
        display: block;
        padding: 1em;
    }
    nav[role=navigation] {
      clear: both;
      -webkit-transition: all 0.3s ease-out;  
      -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
    }
    .js nav[role=navigation] {
      overflow: hidden;
      max-height: 0;
    }
    nav[role=navigation].active {
      max-height: 15em;
    }
    nav[role=navigation] ul {
      margin: 0;
      padding: 0;
      border-top: 1px solid #808080;
    }
    nav[role=navigation] li a {
      display: block;
      padding: 0.8em;
      border-bottom: 1px solid #808080;
    }
    
    @media screen and (min-width: 48.25em) {
      a.menu-link {
         display: none;
      }
      .js nav[role=navigation] {
        max-height: none;
      }
      nav[role=navigation] ul {
        margin: 0 0 0 -0.25em;
        border: 0;
      }
      
      nav[role=navigation]  li {
        display: inline-block;
        margin: 0 0.25em;
      }
      nav[role=navigation] li a {
        border: 0;
      }
    }






















/*The Responsive Picture Grids*/

.insta_story_grid {
      padding: 0.25em;
      overflow: hidden;
    }
    .insta_story_grid li {
      float: left;
      width: 50%;
      padding: 0.25em;
    }
    .insta_story_grid img {
      display: block;
    }
    .insta_story_grid li:nth-child(odd) {
      clear: left;
    }
  
    @media screen and (min-width: 40em) {
      .insta_story_grid li {
          width: 33.3333333333333333%; 
        }
        .insta_story_grid li:nth-child(3n+1) {
          clear: left;
        }
        .insta_story_grid li:nth-child(odd) {
        clear: none;
      }
    }
    @media screen and (min-width: 55em) {
      .insta_story_grid li {
          width: 25%; 
        }
        .insta_story_grid li:nth-child(4n+1) {
          clear: left;
        }
        .insta_story_grid li:nth-child(3n+1) {
        clear: none;
      }
    }
    @media screen and (min-width: 72em) {
      .insta_story_grid li {
          width: 20%; 
        }
        .insta_story_grid li:nth-child(5n+1) {
          clear: left;
        }
        .insta_story_grid li:nth-child(4n+1) {
        clear: none;
      }
    }
    @media screen and (min-width: 90em) {
      .insta_story_grid li {
          width: 16.666666666%; 
        }
        .insta_story_grid li:nth-child(6n+1) {
          clear: left;
        }
        .insta_story_grid li:nth-child(5n+1) {
        clear: none;
      }
    }